body {
	height: 97vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.keyboard {
	/* border: 1px solid red; */
}

.row {
	display: flex;
	flex-direction: row;
}

.row.first .key {
	font-size: 80%;
	min-height: 15px;
	min-width: 24.8px;
}

.langSwitcher {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	/* border: 1px solid red; */
	justify-content: center;
}

.langSwitcher .lang {
	flex: 1;
	padding: 5px 10px;
	margin: 2px;
	border-radius: 5px;
	/* border: 1px solid green; */
	cursor: pointer;
}

.langSwitcher .activeLang {
	background-color: dimgray;
	color: white;
}

.key {
	border: 2px solid black;
	background-color: dimgray;
	color: white;
	padding: 3px;
	margin: 2px;
	min-width: 30px;
	min-height: 30px;
	border-radius: 5px;
	position: relative;
}

.activeKey {
	position: absolute;
	top: -50%;
	left: -50%;
	animation: pulse 0.5s;
	width: 150%;
	height: 150%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 200%;
	z-index: 2;
}

@keyframes pulse {
	0% {
		background-color: dimgray;
	}
	100% {
		background-color: red;
	}
}

.key.Backspace {
	font-size: 74%;
}

.key.Tab {
	width: 50px;
}

.key.CapsLk {
	width: 60px;
}

.key.Enter {
	width: 65px;
}

.key.ShiftLeft {
	width: 80px;
}

.key.ShiftRight {
	width: 45px;
}

.key.ControlLeft {
	width: 40px;
}
.key.ControlRight {
	width: 45px;
}

.key.Space {
	width: 247px;
}

.key.ArrowUp,
.key.ArrowDown,
.key.ArrowLeft,
.key.ArrowRight {
	text-align: center;
}
